@import "tailwindcss";

:root {
    --background: #0d0f1b;
    --card: #131620;
    --border: #2a2d3a;
    --accent: #3b82f6;
    --text: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Chakra Petch', sans-serif;
}

@theme {
    --color-background: #0a0e1a;
    --color-card: #121628;
    --color-border: #1e223a;
    --color-accent: #2c3150;
    --color-text-main: #d0d5e0;
    --color-text-muted: #9ca3af; 
}